/* Estilos generales */
body {
  background-color: #333; /* Color de fondo de la página */
}

p {
  color: aliceblue; /* Color del texto en párrafos */
}

/* Estilos del navbar */
nav {
  background-color: #a39c9c; /* Color de fondo del navbar */
  padding: 1rem;
  width: auto;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* Estilos de la marca */
.brand {
  font-size: 1.5rem; /* Tamaño de la fuente de la marca */
  color: white;
  display: flex;
  align-items: center;
}

.brand img {
  max-height: 200px; /* Altura máxima del logo */
  max-width: 150px; /* Ancho máximo del logo */
}

/* Estilos de las categorías */
.categories {
  list-style: none; /* Elimina el estilo de lista */
  padding: 0;
  display: flex;
  align-items: center;
}

.categories li {
  margin: 0 15%; /* Espaciado entre elementos de la lista */
}

.categories a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: white; /* Color de los enlaces */
}

/* Estilos del carrito */
.cart-widget {
  display: flex;
  align-items: center;
  color: aliceblue; /* Color del texto del carrito */
  font-size: 24px; /* Tamaño de la fuente del carrito */
  margin-right: 20px; /* Margen a la derecha del carrito */
}

.notification {
  background-color: rgb(10, 23, 145); /* Color de fondo de la notificación */
  color: white; /* Color del texto de la notificación */
  border-radius: 50%; /* Bordes redondeados */
  padding: 5px 8px; /* Espaciado interno de la notificación */
  font-size: 0.8rem; /* Tamaño de la fuente de la notificación */
  margin-left: 10px; /* Margen a la izquierda de la notificación */
}

/* Estilo general de la aplicación */
.App {
  text-align: center; /* Centra el texto dentro de la App */
}

.App-logo {
  height: 40vmin; /* Altura de la imagen del logo */
  pointer-events: none; /* Desactiva la interacción con el logo */
}

/* Estilos del encabezado */
header .App-header {
  background-color: #282c34; /* Color de fondo del encabezado */
  min-height: 100vh; /* Altura mínima del encabezado */
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  font-size: calc(10px + 2vmin); /* Tamaño de fuente adaptable */
  color: white; /* Color del texto en el encabezado */
}

/* Estilos para la imagen en la página de inicio */
.home-image {
  max-height: 450px; /* Altura máxima de la imagen */
  width: auto; /* Mantiene la proporción de la imagen */
  margin: 20px 0; /* Espacio alrededor de la imagen */
  border-radius: 10px; /* Bordes redondeados para la imagen */
}
