nav {
  background-color: #a39c9c;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

body{
  background-color: #333;
}

p{
  color: aliceblue;
}

.brand {
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
}

.brand h1 {
  margin-left: 80%;
  margin-right: 80%;
}

.brand img {
  max-height: 200px; /* Ajusta la altura máxima del logo en píxeles según tus preferencias */
  max-width: 150px; /* El ancho se ajustará automáticamente para mantener la proporción */
}

.categories {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.categories li {
  margin-right: 30%;
  margin-left: 5px;
  justify-content: center;
}

.categories a {
  text-decoration: none;
  color: white;
}

/* Modificaciones para CartWidget */
.cart-widget {
  display: flex;
  align-items: center;
  color: aliceblue;
  font-size: 24px;
  margin-right: 20px;
}

.notification {
  background-color: rgb(10, 23, 145);
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 0.8rem;
  margin-left: 10px;
}

/* Estilo general de la aplicación */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 0; 
}


